<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': love > '0',
                'list-group-item-danger': love < '0'}" >

  <div id="entete">
    <h4>{{ itemName }}</h4>
    <span>{{ lastUpdate | async | date:'short' }}</span>
  </div>  
  <p>{{ itemDescription }}</p>

  <button class="btn btn-success" 
          [disabled]="!isAuth"
          (click)="onLove()">Love It !</button>
  <button class="btn btn-danger" 
          [disabled]="!isAuth"
          (click)="offLove()">Don't love It !</button>
</li>

